.type-abonnement-container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 10px;
    padding: 12px;
    justify-items: center;
    margin-top: 10px;
}

.text-rubrique{
    margin-top: -10px;
    position: relative;
    font-family: "AbHaya";
    font-size: 4rem;
    color: #000;
}

.rubrique-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

@media screen  and (max-width:500px){
    .body{
        grid-template-columns: repeat(1, 1fr); 
    }
    .text-rubrique{
        font-family: "AbHaya";
        font-size: 1.5rem;
        color: #000;
    }
    .type-abonnement-container{
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 10px;
        padding: 12px;
        justify-items: center;
    }
}
@media screen  and (max-width:800px) and (min-width:500px){
    .body{
        grid-template-columns: repeat(2, 1fr); 
    }
    .text-rubrique{
        font-family: "AbHaya";
        font-size: 2rem;
        color: #000;
    }
    .type-abonnement-container{
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 10px;
        padding: 12px;
        justify-items: center;
    }
}
@media screen  and (max-width:1000px) and (min-width:800px){
    .body{
        grid-template-columns: repeat(3, 1fr); 
    }
    .text-rubrique{
        font-family: "AbHaya";
        font-size: 2.5rem;
        color: #000;
    }
    .type-abonnement-container{
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 10px;
        padding: 12px;
        justify-items: center;
    }
}

@media screen  and (max-width:1300px) and (min-width:1000px){
    .body{
        grid-template-columns: repeat(4, 1fr); 
    }
}
@media screen  and (max-width:1600px) and (min-width:1300px) {
    .body{
        grid-template-columns: repeat(5, 1fr); 
    }
}