
    <div class="container">
       <!--  <div class="room"> -->
        <div class="row">
            <img src={{image}} alt="Room Image">
        </div>
            <div class="details">
                <h1>{{title}}</h1>
                <div class="icons">
                    <div class="icon">
                        <img src="../../../assets/imgsites/hotel-single-bed-1.png" alt="Bed Icon">
                        <span>4</span>
                    </div>
                    <div class="icon">
                        <img src="../../../assets/imgsites/bathroom-tub-towel.png" alt="Bath Icon">
                        <span>2</span>
                    </div>
                    <div class="icon">
                        <img src="../../../assets/imgsites/grid-artboard.png" alt="Other Icon">
                        <span>2</span>
                    </div>
                </div>
            </div>
     <!--    </div> -->
    </div>


