<div class="login-page">
    <div class="login-content">
        <div class="login-left">
            <div class="img-login">
                <img src="./../../../../assets/imgsites/immoimg2.jpg" alt="">
            </div>
        </div>
        <div class="login-right">
            <div class="logo-form">
                <div id="logo-content">
                    <img src="./../../../../assets/imgsites/logo-blanc.png" alt="logo">
                </div>
                <div class="connexion">
                    <div>
                        <h2>Connexion</h2>
                    </div>
                </div>
            </div>
            <div id="text-connexion">
                <span>
                    Saisir votre numéro de téléphone et mot de passe
                </span>
            </div>
            <div class="form-part">
                <form action="">
                    <div class="input-content">
                        <input type="number">
                        <div class="input-label">Téléphone</div>
                    </div>
                    <div class="input-content">
                        <input type="password">
                        <div class="input-label">Mot de passe</div>
                    </div>

                    <a routerLink="/">Mot de passe oublié</a>
                    <div>
                        <button type="submit">
                            Se connecter 
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>