<app-slider title={{titleBreadcrumb}} description={{description}} images={{imageBreadcrumb}}></app-slider>
<div class="rubrique-container">
    <div class="content-subtitle">
        <div class="line"></div>
        <div>
            <h2>Nos Services</h2>
        </div>
        
    </div>
    <div class="content-service">
        <ul>
           <li class="list-service">
               <strong>Recherche Personnalisée  :</strong> Utilisez notre moteur de recherche avancé pour trouver des logements par zone, budget, catégorie, et plus encore.
           </li>
           <li class="list-service">
               <strong>Publication d’annonces :</strong> Si vous êtes un promoteur immobilier, utilisez Dëkuwaay pour présenter vos propriétés de manière détaillée et atteindre un public ciblé.
           </li>
           <li class="list-service">
               <strong>Abonnements  :</strong> Choisissez parmi nos packs d'abonnement pour maximiser votre visibilité sur notre plateforme.
           </li>
           <li class="list-service">
               <strong>Notifications Personnalisées :</strong> Restez à jour avec les dernières annonces correspondant à vos critères de recherche grâce à notre service de notifications.
           </li>
        </ul>
    </div>
    <div class="second-part-about">
        <div class="img-box">
            <img src="./../../../../assets/imgsites/Content.png" alt="image about page">
        </div>
        <div class="text-box">
            <div class="title">
                <div class="line"></div>
                <h2>Nos cibles</h2>
            </div>
            <div class="text">
                <p>
                    Chercheurs de Logement :  Que vous soyez un particulier à la recherche d'un nouveau foyer, un étudiant à la recherche d'une chambre, ou une famille à la recherche d'une maison, Dëkuwaay vous aide à trouver la propriété parfaite.
                </p>
                
                <p>
                    Promoteurs Immobiliers :  Pour les promoteurs, Dëkuwaay offre une plateforme puissante pour présenter vos biens immobiliers de manière détaillée et atteindre un public intéressé.
                </p>
                <p>
                    Investisseurs Immobiliers :  Si vous cherchez à investir dans l'immobilier au Sénégal, Dëkuwaay vous propose une sélection de propriétés prometteuses.
                </p>
            </div>
            <button>
                <a href="#">En savoir plus <i class="fa fa-arrow-right" id="arrow" aria-hidden="true"></i></a> 
            </button>
        </div>
    </div>
    <div class="third-part-about">
        
        <div class="title-third-part">
            <h2>
                Nos valeurs fondamentales
            </h2>
        </div>
        <div class="third-line-top">

        </div>
        <div class="third-text">
            <div class="third-text-box">
                <h1>
                    1
                </h1>
                <p>
                    Accessibilité pour Tous : Chez Dëkuwaay, nous croyons que tout le monde mérite de trouver un chez-soi qui correspond à ses besoins et son budget. Notre plateforme conviviale permet à chacun de rechercher des logements de manière simple et efficace.
                </p>
            </div>
            <div class="third-text-box">
                <h1>
                    2
                </h1>
                <p>
                    Confiance dans la Sélection : Nous travaillons avec les meilleurs promoteurs immobiliers au Sénégal pour vous offrir une gamme diversifiée de biens immobiliers. Vous pouvez avoir confiance en notre sélection de propriétés de qualité.
                </p>
            </div>
            <div class="third-text-box">
                <h1>
                    3
                </h1>
                <p>
                    Innovation Technologique : La technologie est au cœur de notre approche. Nous vous offrons une expérience de recherche de logement moderne, avec des outils avancés de recherche et des notifications pour vous tenir informé des dernières opportunités.
                </p>
            </div>
        </div>
        <button>
            <a href="#">En savoir plus <i class="fa fa-arrow-right" id="arrow" aria-hidden="true"></i></a> 
        </button>
    </div>
    <div class="temoignage">
        <div class="title-temoignage">
            <h2>
                Les témoignages
            </h2>
        </div>
        <div class="temoignage-content">
            <div class="part-temoins">
                <div class="text-temoignage">
                    <p>
                        “Certe, inquam, pertinax non existimant oportere exquisitis rationibus conquisitis de quo enim ipsam. Torquem detraxit hosti et quidem faciunt, ut aut.”
                    </p>
                </div>
                <div class="profil-temoins">
                    <div class="img-profil">
                        <img src="../../../../assets/imgsites/Oval.png" alt="profil image">
                    </div>
                    <div class="nom-temoin">
                        <h3> Manta DIEME </h3>
                        <span> Client </span>

                    </div>

                </div>
            </div>
            <div class="part-temoins">
                <div class="text-temoignage">
                    <p>
                        “Certe, inquam, pertinax non existimant oportere exquisitis rationibus conquisitis de quo enim ipsam. Torquem detraxit hosti et quidem faciunt, ut aut.”
                    </p>
                </div>
                <div class="profil-temoins">
                    <div class="img-profil">
                        <img src="../../../../assets/imgsites/Oval.png" alt="profil image">
                    </div>
                    <div class="nom-temoin">
                        <h3> Manta DIEME </h3>
                        <span> Agence </span>

                    </div>
                </div>
            </div>
            <div class="part-temoins">
                <div class="text-temoignage">
                    <p>
                        “Certe, inquam, pertinax non existimant oportere exquisitis rationibus conquisitis de quo enim ipsam. Torquem detraxit hosti et quidem faciunt, ut aut.”
                    </p>
                </div>
                <div class="profil-temoins">
                    <div class="img-profil">
                        <img src="../../../../assets/imgsites/Oval.png" alt="profil image">
                    </div>
                    <div class="nom-temoin">
                        <h3> Manta DIEME </h3>
                        <span> Courtier </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="typo-container">
    
</div>